.notMobile #infoTab{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.notMobile #karta{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.notMobile .responsiveButton{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.notMobile .buff{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.notMobile #content{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.notMobile #smallMenu{

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.notMobile #mobileMenu{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
