/* This is a compiled file, you should be editing the file in the templates directory */
.pace {

  display: none;
}

.pace .pace-progress {
  display: none;
}


.pace.pace-inactive {
  display: none;
}
