body{
  font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}
#body{
  z-index: -2;

  /* position: absolute; */
  overflow-x: hidden;
  width: 100vw;
}

html{
  overflow-x: hidden;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
#outer-wrapper{
  position: absolute;

  left: 50%;
  top: 50%;
      width: calc(100% - 100px);
}

#center-box{

height: 1px;
  background: black;
  overflow: hidden;

  transform: translate3d(-50%, -50%, 0);


  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;


  -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;

}
#inner-wrapper{

}

#procent{
  position: absolute;
  bottom:0;
  right:0;
}

#center-box.extended{


}
