body{
  font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}
#body{
  z-index: -2;

  /* position: absolute; */
  overflow-x: hidden;
  width: 100vw;
}

html{
  overflow-x: hidden;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#center-box{
  position: absolute;

  left: 50%;
  top: 50%;

  background: black;

  transform: translate(-50%, -50%);

  

/*
  -webkit-transform: ;
-moz-transform: ;
-ms-transform: ;
-o-transform: ;
transform: ;*/
}

.loaded #center-box{


}
